In [1]:
import pandas as pd
import json
import numpy as np
import requests

In [2]:
# load feather files
test_data = 'test_FD001.feather'
rul_data = 'rul_FD001.feather'
test_data_file_path = f'../data/processed/{test_data}'
rul_data_file_path = f'../data/processed/{rul_data}'

test_df = pd.read_feather(test_data_file_path)
rul_df = pd.read_feather(rul_data_file_path)
test_df.head()

,unit_number,time,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

In [3]:
rul_df.head()

   rul
0  112
1   98
2   69
3   82
4   91

In [4]:
test_df.shape

(13096, 26)

In [5]:
rul_df.shape

(100, 1)

In [6]:
test_df['unit_number'].nunique()

100

In [7]:
units = test_df['unit_number'].unique()
units

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [8]:
unit = np.random.choice(units, size=1)[0]
empirical_rul = rul_df.iloc[unit].values[0]

In [9]:
rul_df[70:]

    rul
70  118
71   50
72  131
73  126
74  113
75   10
76   34
77  107
78   63
79   90
80    8
81    9
82  137
83   58
84  118
85   89
86  116
87  115
88  136
89   28
90   38
91   20
92   85
93   55
94  128
95  137
96   82
97   59
98  117
99   20

In [10]:
test_df.head()

,unit_number,time,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

In [11]:
unit

81

In [12]:
port = 80
host = 'host.docker.internal' 
url = f'http://{host}:{port}/stream_predict'

In [13]:
for index, row in test_df[test_df['unit_number'] == unit].iterrows():
    data_len = test_df.loc[unit].shape[0] + 1
    percent_complete = index * 1.0 / data_len
    new_measurement = row.to_dict()
    response = requests.post(url, json=new_measurement)
    print(response.json()['prediction'])

[145.39146914]
[158.08954335]
[156.95679588]
[135.5342782]
[154.30958808]
[155.18780683]
[148.37271717]
[159.35302328]
[156.44021698]
[143.95025477]
[147.29962309]
[156.20388395]
[150.9676978]
[168.89356187]
[146.1707848]
[147.64406404]
[167.63252539]
[150.02224331]
[146.66467054]
[149.30977271]
[155.07583878]
[148.4439051]
[161.5187866]
[158.76595041]
[158.66533054]
[147.94461998]
[149.15025302]
[149.51840627]
[161.92630854]
[146.84611203]
[144.80844917]
[158.95764404]
[166.11064089]
[134.26944805]
[133.6901158]
[137.05803892]
[158.85611514]
[165.47000977]
[159.65122531]
[119.78653183]
[149.2679812]
[150.43909759]
[148.74143383]
[141.78973879]
[141.3470043]
[143.95481562]
[141.84199017]
[144.72780098]
[137.5987043]
[157.27534365]
[158.31194893]
[145.99358306]
[153.21197882]
[134.81021027]
[128.84325374]
[161.08800163]
[153.10673637]
[155.74087074]
[137.39542308]
[141.98965134]
[139.33723579]
[133.40828099]
[143.04262928]
[141.43940596]
[161.90198298]
[150.32837008]
[153.81207577]
[139.22980491]
[159.77601844]
[142.37366222]
[136.67372764]
[141.78114374]
[130.79485087]
[148.19618227]
[153.61564369]
[137.84296583]
[134.6035264]
[141.02474225]
[147.77798246]
[137.89292544]
[135.44140509]
[134.47080376]
[153.09865951]
[141.05015957]
[138.94385655]
[135.03193682]
[160.30568697]
[149.58086886]
[137.75743604]
[135.71600548]
[149.27788229]
[157.66524736]
[149.57215626]
[143.64983454]
[125.13290392]
[138.54819648]
[128.39931323]
[134.77208837]
[139.86148643]
[138.86425613]
[131.95402938]
[134.13320098]
[137.25782129]
[114.23654803]
[127.36533416]
[132.77076925]
[137.00271249]
[132.87089851]
[125.62861548]
[112.79550201]
[122.70361141]
[130.13208411]
[130.53244412]
[129.46873324]
[132.09947048]
[128.25583899]
[127.43499666]
[121.6967476]
[115.33777311]
[126.21584185]
[122.73779801]
[122.61349344]
[98.73291273]
[116.18947777]
[117.48913754]
[112.48258672]
[122.96744574]
[123.3611865]
[124.73817993]
[122.64133218]
[116.38771618]
[117.79360473]
[104.7733036]
[114.40733171]
[110.82715603]
[118.47534799]
[116.08974693]
[120.87368651]
[111.06276961]
[105.64108966]
[104.33362883]
[115.99598846]
[121.91531322]
[110.90528104]
[107.95082176]
[117.32910103]
[99.59675932]
[97.49726918]
[92.57232508]
[102.23697775]
[100.8211463]
[106.92379553]
[82.07748273]
[93.37802896]
[101.98712815]
[85.41026695]
[91.57737683]
[103.43958416]
[85.46974608]
[104.72149465]
[92.14513846]
[97.12490307]
[79.86500096]
[87.88360545]
[86.43024961]
[83.58340387]
[85.73554195]
[75.02025608]
[68.5462994]
[57.58677785]
[69.56541305]
[72.94062721]
[66.47202896]
[70.69467845]
[62.82736024]
[80.85599148]
[69.94624751]
[76.22247533]
[71.60592138]
[68.27587894]
[53.1359308]
[67.55494899]
[45.50670552]
[45.27085006]
[47.17712721]
[65.16523212]
[62.54974574]
[54.34639197]
[53.66872528]
[38.0175168]
[50.47691255]
[43.40250545]
[42.33102951]
[36.08918772]
[38.62494239]
[41.14888643]
[27.76907652]
[41.02390757]
[29.94018707]
[35.77255155]
[24.85461819]
[24.13541862]
[25.75597763]
[31.80999197]
[18.28714546]
[13.18342068]
[22.97655945]
[7.57559514]
[5.58494865]
[3.1728487]
[-4.66202474]
[-12.88042131]
[-2.21918945]

In [14]:
empirical_rul

9